.news-section {
    margin-top: 70px;
    margin-bottom: 70px;
}

.news-blog {
    color: #2AA7FF;
    font-size: 26px;
    font-family: Poppins;
    font-weight: 600;
    text-align: center;
}

.news-header {
    color: #1B3C74;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 600;
    text-align: center;
    margin-bottom: 70px;
}

.news-img-container {
    display: flex;
    justify-content: space-between;
    margin-left: 135px;
    margin-right: 140px;
}

.news-img-container1,
.news-img-container2,
.news-img-container3 {
    text-align: left;
    border: 1px solid #77829D;
    border-radius: 10px;
}

.news-img-container1 p,
.news-img-container2 p,
.news-img-container3 p {
    color: #77829D;
    padding: 10px 0px 10px 12px;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
}

.news-img-container1 h4,
.news-img-container2 h4,
.news-img-container3 h4 {
    color: #1B3C74;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 400;
    padding: 0px 0px 10px 12px;
}

.news-doctor {
    display: flex;
    padding: 0px 0px 30px 8px;
}

.news-doc-name {
    color: #1B3C74;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 400;
    padding: 6px;
}